<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" [routerLink]="['/user']">University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/about']">About</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/programs']">Programs</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/admission']">Admissions</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/faculties']">Faculty</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/events']">Events</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/news']">News</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/application']">Applications</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact</a></li>
        <li class="nav-item">
          <button class="btn btn-outline-secondary nav-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
<br><br>

<div class="container">
  <h2>Apply for a Program</h2>

  <mat-form-field *ngIf="!selectedProgram">
    <mat-label>Select Program</mat-label>
    <mat-select (selectionChange)="selectProgram($event.value)">
      <mat-option *ngFor="let program of programs" [value]="program.programId">
        {{ program.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedProgram">
    <h3>{{ selectedProgram.name }}</h3>
    <p><strong>Type:</strong> {{ selectedProgram.type }}</p>
    <p><strong>Description:</strong> {{ selectedProgram.description }}</p>
    <p><strong>Admission Requirements:</strong> {{ selectedProgram.admissionRequirements }}</p>
    <p><strong>Curriculum Details:</strong> {{ selectedProgram.curriculumDetails }}</p>
  </div>

  <form (ngSubmit)="submitApplication()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="application.studentName" name="studentName" required>
    </mat-form-field>&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="application.email" name="email" type="email" required>
    </mat-form-field>&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>About Yourself</mat-label>
      <textarea matInput [(ngModel)]="application.applicationFormData" name="applicationFormData" required></textarea>
    </mat-form-field>&nbsp;&nbsp;
    <button mat-button type="submit" color="primary">Submit</button>
  </form>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="showSuccessDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Submitted Successfully!</h5>&nbsp;&nbsp;
        <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your application has been submitted successfully. We will review it and get back to you shortly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeDialog()">Close</button>
      </div>
    </div>
  </div>
</div>